h1{
    color: aqua;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;

}
h2{
    color: aqua;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    
}
h3{
    color: aqua;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    
}